<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content= "with=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Front1" style="position: static;">
        <div class="form-container">
            <div class="form-btn">
                <span style="font-size: 30px;">Add Form</span>
            </div>
            <form action="/product/add" method="post">
                <input type="text" class="bar" name="productName" id="name" placeholder="ProductName">
                <input type="number" class="bar" name="price" id="price" placeholder="Price">
                <input type="number" class="bar" name="quantity" id="quantity" placeholder="Quantity">
                <input type="text" class="bar" name="picture" id="picture" placeholder="PicURL">
                <input type="submit" name="checking" class="btn-2" style="width:260px"></input>
            </form>
            <p class="notice" id="notice" >{{notice}}</p>
        </div>
    </div>
    <section id="footer" class="footer" style="margin-top: 0;">
        <div class="information">
            <div class="info">
                <p>INFO</p>
                <ul>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Customer Reviews</a></li>
                    <li><a href="">Covid-19</a></li>
                </ul>
            </div>
            <div class="legal">
                <p>LEGAL</p>
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Patents</a></li>
                    <li><a href="">Counterfeits</a></li>
                </ul>
            </div>
            <div class="support">
                <p>SUPPORT</p>
                <ul>
                    <li><a href="">Shipping</a> </li>
                    <li><a href="">Return</a> </li>
                    <li><a href="">FAQ</a> </li>
                </ul>
            </div>
            <div class="others">
                <p>OTHERS</p>
                <ul>
                    <li><a href="">My Account</a></li>
                    <li><a href="">Tracking Order</a> </li>
                    <li><a href="">Reward Program</a></li>
                </ul>
            </div>
            <div class="contact">
                <p>CONTACT</p>
                <ul>
                    <li><a href="">0971724696</a> </li>
                    <li><a href="https://www.instagram.com/el_almas_/">Instagram</a> </li>
                </ul>
            </div>
        </div>
            <h2 class="copyright">©2022 Marches Special Woods, Inc. All Rights Reserved.</h2>
    </section> 


    <section class="header"> 
        <nav class="nav">
            <a href="/"><img src="/images/logo.png" alt=""></a>
            <div class="nav-links">
                <ul>
                    <li class="home"> <a href="/">HOME</a></li>
                    <li> <a href="/product/allProducts">PRODUCTS</a></li>
                    {{#if user}}
                        <li> <a href='/client/logout' onclick="return confirm('are you sure?')" >LOG OUT</a></li>
                    {{else}}
                        <li> <a href='../client/login'>LOGIN</a></li>
                    {{/if}}
                        <li> <a href="#footer">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <script>
            function deletenotice(){
                const warning = document.getElementById("notice");
                warning.innerHTML = "";
            }
            function validateData(){
                const name = document.getElementById("name");
                const price = document.getElementById("price");
                const picture = document.getElementById("picture");
                const quantity = document.getElementById("quantity");
                name.addEventListener('invalid', function (event) {
                if (event.target.validity.valueMissing) {
                    event.target.setCustomValidity('Please tell us how we should address you.');
                }
                })
                name.addEventListener('change', function (event) {
                event.target.setCustomValidity('');
                })
                if(name.length < 5){
                    document.getElementById("notice").innerHTML = "Not enough length for name"
                }else if (price<10 || price >1000){
                    document.getElementById("notice").innerHTML = "Invalid price"
                }else if(quantity<10 || quantity >1000){
                    document.getElementById("notice").innerHTML = "invalid quantity"
                }else if (picture.length ==0){
                    document.getElementById("notice").innerHTML = "No picture"
                }else{
                    
                }
            }
        </script>
</body>
</html>
