*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.header{
    width: 100%;
    top: 0;
    position: fixed;
}
nav{
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 45px;
}
nav img{
    width: 60px;
    padding-top: 7px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;   
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav-links ul li:hover::after{
    width: 100%;
}





.products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
    background-color: #fff;
    border-bottom: 2px black;
}
.products-links{
    display: flex;
    justify-content: space-around;
    width: 30% ;
}
.products-links{
    position: relative;
}
.products-links li{
    list-style: none;
    
}
.products ul li ul{
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100px;
}
.sub-menu {
    list-style: none;
    display: none;
    padding: 8px 100px 0 0 ;
    text-align: left;
    position: absolute;
    border-radius: 0 0 .25em .25em;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.products ul li :hover .sub-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.products ul li ul li a::after  {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.products ul li ul li a:hover::after {
    width: 100%;
}
.products ul li ul li{
    width: 200px;
    border-radius: 4px;
}
.products ul li ul li a{
    padding: 8px 14px;
}
.products-links a{
    display: inline-block;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 24px 12px;
}

.search_box{
    position: absolute;
    width: 200px;
    padding-left: 1600px;
    padding-top: 15px;
}





.Front1{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/header1.jpeg);
    background-position: top;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
    position: relative;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #7c2620a2;
    background: #7c2620a2;
    transition: 1s;
}




.Front2{
    min-height: 100vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/header2.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.text-box-1 {
    font-size: 20px;
    color: #fff;
    padding-top: 120px;
    text-align: center;
}
.text-box-1 h1{
    font-size: 70px;
}
.text-box-1 p{
    font-size: 35px;
    margin: 0 0 10px 0;
}
.btn-1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn-1:hover{
    border: 1px solid rgb(212, 0, 255);
    background: rgb(145, 39, 145);
    transition: 1s;
}

.btn-3{

    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px rgb(255, 0, 0);  
    padding: 12px 34px;
    font-size: 13px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.btn-3:hover{
    border: 1px solid rgb(0, 204, 255);
    background: rgb(32, 184, 211);
    transition: 1s;
}


.samsung{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: url(images/samsung.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.text-box-2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-2 h1{
    font-size: 70px;
    position: relative;
}
.text-box-2 p{
    margin: 5px 0 40px;
    font-size: 30px;
    color: #fff;
}
.btn-2{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn-2:hover{
    border: 1px solid rgb(98, 196, 196);
    background: rgb(32, 133, 163);
    transition: 1s;
}




.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.users-review{
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: white;
    padding: 25px;
    margin-right: 20px;
    cursor: pointer;
    width: 25%;
    display: inline-block;

}

.users-review img{
    height: 70px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.users-review p{
    padding: 0;
}
.users-review h3{
    margin-top: 15px;
    text-align: left;
}
.users-review .fa{
    color: black;
    width: 50px;
    height: 50px;
}


.footer{
    background-color: rgb(39, 38, 38);
    margin-top: 170px;
    color: #fff;
    height: 30vh;
}
.footer p{
    font-weight: bold;
}
.footer div {
    display: inline-block;
    padding-left: 100px;
    padding-top: 20px;

}
.footer div ul li{
    list-style: none;
    cursor: pointer;
}
.footer div ul li a{
    text-decoration: none;
    color: #fff;
}
.footer ul li:hover a{
    text-decoration: underline;
    color: #f7620c;
}
.copyright{
    border-top: 2px solid rgb(90, 95, 90);
    text-align: center;
    padding-top: 15px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}


.signup-form{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    text-align: center;
}
.signup-form-form{
    background-color: #7c2620a2;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 500px;
}
.signup-form-form h2{
    padding-top: 10px;
    font-size: 62px;
    position: relative;
    text-align: center;
}
.signup-form-form form{
    padding: 3px 0 10px 50px;
    height: 200px;
    width: 400px;
}
.submit {
    padding-top: 5px;
}




.site-iphone{
    min-height: 80vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/iphone-13-header.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.site-text-box-1 {
    font-size: 20px;
    color: #fff;
    padding-top: 200px;
    text-align: center;
}
.site-text-box-1 h1{
    font-size: 120px;
}
.site-text-box-1 p{
    font-size: 27px;
    margin: 0 0 10px 0;
}






.section-group{
    padding-left: 10%;
    height:1000px;

}
.grid_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.grid_1_of_4:first-child {
	margin-left: 0;
}
div.grid_1_of_4:nth-child(4n+1) {
    margin-left: 0;
}
.images_1_of_4 {
	width: 15%;
	padding: 3%;
	text-align: center;
}
.images_1_of_4  img {
	max-width: 100%;
}
.images_1_of_4  h2 {
	color:black;
	font-size:1.1em;
	font-weight: normal;
}
.images_1_of_4  p {
	font-size: 0.8125em;
	padding: 0.4em 0;
	color: black;
}
.images_1_of_4  p span.price {
    padding-left: 7px;
	font-size: 18px;
	color:#CC3636;
    font-weight: bold;
}
.price-details{
	margin-top:10px;
	border-top:1px solid black;
}
.price-number{
	float: left;
	padding-top: 5px;
}
.price-details p span.rupees{
	font-size:1.6em;
	color:black;
}
.add-cart{
	display: inline-block;
}
.add-cart h4 a{
	font-size:0.9em;
	display: block;
	padding:10px 15px;
	font-family: 'ambleregular';
	background:#ff3300;
	color: #FFF;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.add-cart h4 a:hover{
	  text-shadow: 0px 0px 1px #000;
	  background:#292929;
}

.row-1{
    display: flex;
    padding-top: 170px;
    padding-left: 300px;
}
.col-1 {
    width: 50%;  
}
.col-1 img{
    width: 90% ;

}
.col-2 {
    float: right;
    padding-right: 100px;
    width: 30%;
}
.col-2 h1{
    font-size: 50px;
}
.btn-3{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(133, 133, 133, 0.596);
    padding: 12px 34px ;
    margin-bottom: 10px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background: rgb(0, 0, 0) ;
    font-weight: 1000;
    letter-spacing: 1px;
}
.btn-3:hover{
    border: 1px solid #fd8701a2;
    background: #ff6600a2;
    transition: 1s;
    color: rgb(255, 255, 255);
}
.col-2 input{
    width: 40px ;
    font-size: 16px;
    margin-bottom: 10px;
}
table{
    width: 100%;
    padding-top: 200px;
    text-align: left;
}
.cart-info{
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
}
.cart-info img{
    width: 10%;
    padding-left: 10px;
    padding-right: 20px;
}
.first{
    width: 50%;
}
.first-header{
    background-color: #333;
    color: #fff;
}
table th{
    padding-left: 10px;
}
table td{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 15px;
}





.site-samsung{
    min-height: 80vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/samsungheader.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}



.site-sony{
    min-height: 80vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/sonyheader.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.site-other{
    min-height: 80vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/oppoheader.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.site-all{
    min-height: 80vh;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/oppoheader.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}








.form-container{
    background: #71cbf5;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    top: 20%;
    padding-top: 20px;
    margin-left: 42%;
    box-shadow: 0 0 20px 0px #2b8aca;
    overflow: hidden;
    border-radius: 5%;
    position: absolute;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 10px 0 0;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30%;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #1BA098;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: 0;
}
#RegForm{
    left: -300px;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #DEB992;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.bar{
    width: 200px;
}

.add-table{
    padding-top: 10px;
    color: #fff;
}
.add-table td{
    border: none;
}
.search_box-1{
    padding-top: 300px;
    padding-left: 50px;
}
.search_box-1 h2{
    color: #fff;
    font-size: 30px;
}

.add-items{
    padding-top: 200px;
    float: right;
}

.admin-table{
    padding-top: 0px;
}
.admin-table th{
    background-color: #CC3636;
}
.admin-table td{
    height: 200px;
}
.update-form{
    border: none;
}
.updateproduct{
    width: 150px;
}
.update-all{
    padding-top: 200px;
    float: left;
    padding-left: 20px;
}


.notice{
    color: #fff;
}